@model IEnumerable<Quiz_App.Models.normalAdmin>

@{
    ViewData["Title"] = "This is Normal Admin Page...";
}

<table class="table">
    <thead>
        <tr>
            <th>Admin ID</th>
            <th>Admin Name</th>
            <th>Admin Password</th>
            <th>Date Created</th>
            <th>Date Modified</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.adminID</td>
                <td>@item.adminUserName</td>
                <td>@item.adminUserPassword</td>
                <td>@item.adminDateCreate</td>
                <td>@item.adminDateModified</td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.adminID">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.adminID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

