@*@model IEnumerable<Quiz_App.Models.normalAdmin>*@
@model Quiz_App.Areas.Models.normalAdmin




<div class="container">


    <div class="row">

        <div class="col-md-10 mx-auto text-center ">
            <div class="header-title">
                <span style="font-family: 'Trebuchet MS',sans-serif; font-size: 2em;color:lime; letter-spacing: -2px; border-bottom: 2px solid black; text-transform: uppercase;">Welcome Super Admin</span>
            </div>
        </div><br />

        <div class="card-header py-3">
            <form asp-action="normalAdminSaveUpdate">
                <button class="btn btn-dark btn-icon-split" id="save" formaction="normalAdminSaveUpdate">
                    <span class="icon text-white-50">
                        <i class="fas fa-street-view"></i>
                    </span>
                    <span class="text">Create Admin</span>
                </button>

                <button class="btn btn-danger btn-icon-split" formaction="SuperAdminLogout">
                    <span class="icon text-white-50">
                        <i class="fas fa-backward"></i>
                    </span>
                    <span class="text">Logout</span>
                </button>
            </form>
        </div>





        <div class="card shadow mb-4" style="width:100%">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">All Admin Data</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive" style="width:100%">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                @*<th >Contributor ID</th>*@
                                <th scope="col">Admin ID</th>
                                <th scope="col">Admin Name</th>
                                <th scope="col">Admin Mobile</th>
                                <th scope="col">Admin User Name</th>
                                <th scope="col">Admin Password</th>
                                <th scope="col">Date Created</th>
                                <th scope="col">Date Modified</th>
                                <th scope="col">Date Modified</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (System.Data.DataRow dr in ViewBag.emp.Rows)
                            {
                                <tr class="active">
                                    @*<td>@dr["contributorId"]</td>*@
                                    <td>@dr["AdminID"]</td>
                                    <td>@dr["AdminName"]</td>
                                    <td>@dr["AdminMobile"]</td>
                                    <td>@dr["AdminUserName"]</td>
                                    <td>@dr["AdminPassword"]</td>
                                    <td>@dr["DateCreated"]</td>
                                    <td>@dr["DateModified"]</td>
                                    <td>
                                        <a href="normalAdminUpdate?id=@dr["AdminID"]" class="btn btn-sm btn-primary rounded-0">Edit</a>|
                                        <a href="normalAdminDelete?id=@dr["AdminID"]" class="btn btn-sm btn-danger rounded-0" onclick="return confirm('Are You Sure You Wish To Delete This Record ');">Delete</a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>


    </div>
</div>


@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
@{
    if (TempData["msg"] != null)
    {
        <script>
                    alert('@TempData["msg"] ');
        </script>
    }
}
