@*@model IEnumerable<Quiz_App.Models.normalAdmin>*@
@model Quiz_App.Areas.Models.normalAdmin



<div class="container">
    <div class="col-md-6 mx-auto text-center">
        <div class="header-title">
            <h1 class="wv-heading--title" style="background-color:red;color:white">
                Update Admin
            </h1>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 mx-auto" style="text-align: center; background-image: url('/assets/images/carousel/img3.jpg'); border-style: dashed; border-color: red">
            <div class="myform form ">
                @{
                    foreach (System.Data.DataRow dr in ViewBag.adminbyid.Rows)
                    {
                        <form asp-action="normalAdminSaveUpdate">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                            <div class="form-group" style="display:none">
                                @*<label asp-for="adminID" class="control-label"></label>*@
                                <input asp-for="adminID" id="adminID" value="@dr["AdminID"]" readonly="readonly" class="form-control disabled" style="width:50%;height:20%" />
                                <span asp-validation-for="adminID" class="text-danger"></span>
                            </div>


                            <div class="form-group">
                                @*<label asp-for="adminName" class="control-label"></label>*@
                                <input asp-for="adminName" value="@dr["AdminName"]" class="form-control" style="width:50%;height:20%;background-color:white" />
                                <span asp-validation-for="adminName" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                @*<label asp-for="adminMobile" class="control-label"></label>*@
                                <input asp-for="adminMobile" value="@dr["AdminMobile"]" class="form-control" style="width:50%;height:20%;background-color:white" />
                                <span asp-validation-for="adminMobile" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                @*<label asp-for="adminUserName" class="control-label"></label>*@
                                <input asp-for="adminUserName" value="@dr["AdminUserName"]" class="form-control" style="width:50%;height:20%;background-color:white" />
                                <span asp-validation-for="adminUserName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                @*<label asp-for="adminUserPassword" class="control-label"></label>*@
                                <input asp-for="adminUserPassword" value="@dr["AdminPassword"]" class="form-control" style="width:50%;height:20%;background-color:white" />
                                <span asp-validation-for="adminUserPassword" class="text-danger"></span>
                            </div>

                            <div>
                                <input type="submit" value="Update" formaction="normalAdminUpdate" class="btn btn-default" />
                                <input type="submit" value="Cancel" formaction="NormalAdminData" class="btn btn-default" />



                            </div>

                        </form>
                    }

                }

            </div>
        </div>
    </div>
</div>


<script>
    $("#adminID").click(function () {
        if (this.readOnly) {
            alert("Admin ID  Is Not Editable")
        }
    });
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
