@model Quiz_App.Areas.Main.Models.contributor


<div class="container">
    <div class="row">

        <div class="card shadow mb-4" style="width:100%">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">All Contributor Data</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive" style="width:100%">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                @*<th >Contributor ID</th>*@
                                <th>Full Name</th>
                                <th>Address</th>
                                <th>Mobile No</th>
                                <th>Email Id</th>
                                <th>User Name</th>
                                <th>Password</th>
                                <th>Contributor CreatedBy</th>
                                <th>Admin Location</th>
                                <th>Date Created</th>
                                <th>Date Modified</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (System.Data.DataRow dr in ViewBag.contributor.Rows)
                            {
                                <tr class="active">
                                    @*<td>@dr["contributorId"]</td>*@
                                    <td>@dr["fullName"]</td>
                                    <td>@dr["address"]</td>
                                    <td>@dr["mobileNo"]</td>
                                    <td>@dr["emailId"]</td>
                                    <td>@dr["userName"]</td>
                                    <td>@dr["password"]</td>
                                    <td>@dr["contributor_createdBy"]</td>
                                    <td>@dr["adminLocation"]</td>
                                    <td>@dr["dateCreated"]</td>
                                    <td>@dr["dateModified"]</td>
                                    <td>
                                        <a href="updateContributor?id=@dr["contributorId"]" class="btn btn-sm btn-primary rounded-0" >Edit</a>|
                                        <a href="deleteContributor?id=@dr["contributorId"]" class="btn btn-sm btn-danger rounded-0" onclick="return confirm('Are You Sure You Wish To Delete This Record ');">Delete</a>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        @*model start*@
       



        @*model end*@

    </div>
</div>


@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}




    @{
        if (TempData["msg"] != null)
        {
            <script>
                    alert('@TempData["msg"] ');
            </script>
        }
    }

